<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product_detail</title>
</head>
<body>
    <h1>Editar producto</h1>
    <div>
        <div>Id : {{product.product_id}}</div>
        <div>Nombre : {{product.name}}</div>
        <div>descripción : {{product.description}}</div>

        <form action="/api/product" method="post">
            <input type="text" id="product_id" name="product_id" value="{{product.product_id}}" hidden>
            <label for="price">precio</label>
            <input type="text" name="price" id="price" value="{{product.price}}">
            <br>
            <input type="submit" value="Actualizar precio">
        </form>
    </div>
</body>
</html>