<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>table</title>
</head>
<body>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>Creation Date</th>
                    <th>Order ID</th>
                    <th>Total $</th>
                    <th>Delivery Address</th>
                    <th>Products</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td> {{product.creation_date}} </td>
                    <td> {{product.order_id}} </td>
                    <td> {{product.total}} </td>
                    <td> {{product.delivery_address}} </td>
                    <td> {{product.products}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>